<div class="container">
	<h1>new product</h1>
	<%= simple_form_for @product do |f| %>
		<%= f.input :name %>
		<%= f.input :description %>
		<%= f.input :price %>
		<%= f.input :category_id, collection: @categories %>
		<%= f.button :submit %>
	<% end %>
</div>